<!--The content below is only a placeholder and can be replaced.-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">City</label>
                    <select class="form-control" id="exampleFormControlSelect1" (change)="onSelect()" #cityInput>
                        <option *ngFor="let city of cities">{{city.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Competencies</label>
                    <select class="form-control" id="exampleFormControlSelect2" (change)="onSelect()" #CompetenciesInput>
                        <option *ngFor="let competence of competencies">{{competence.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <section>
        <app-user-list></app-user-list>
    </section>
</main>

<router-outlet></router-outlet>
